p.verso{
    color:blue
}

p.mote{
    color:red
}

a.interacao:link{color:black;}
a.interacao:visited{color:blue;}
a.interacao:hover{color:red;}
a.interacao:active{color:greenyellow;}


img.redonda{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.poeta img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
